<div id="<%= dom_id entry %>">
  <p>
    <strong>User:</strong>
    <%= entry.user_id %>
  </p>

  <p>
    <strong>Challenge:</strong>
    <%= entry.challenge_id %>
  </p>

  <p>
    <strong>Entry type:</strong>
    <%= entry.entry_type_id %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= entry.value %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entry.description %>
  </p>

</div>
