<div id="<%= dom_id entry_type %>">
  <p>
    <strong>Challenge:</strong>
    <%= entry_type.challenge_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= entry_type.name %>
  </p>

  <p>
    <strong>Units:</strong>
    <%= entry_type.units %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= entry_type.weight %>
  </p>

</div>
