<p style="color: green"><%= notice %></p>

<%= render @entry_type %>

<div>
  <%= link_to "Edit this entry type", edit_entry_type_path(@entry_type) %> |
  <%= link_to "Back to entry types", entry_types_path %>

  <%= button_to "Destroy this entry type", @entry_type, method: :delete %>
</div>
