<div class="w-full border-2 border-grey-200 rounded max-w-2xl self-center mt-20 p-8 bg-white flex-col items-center">
  <h2 class="text-center text-bold mb-8 text-xl font-bold">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'flex flex-col items-center'}) do |f| %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'block w-3/4 mb-2 px-2 py-1 border-2 rounded hover:border-yellow-200 focus:outline-yellow-200 focus:bg-yellow-50' %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'block w-3/4 mb-2 px-2 py-1 border-2 rounded hover:border-yellow-200 focus:outline-yellow-200 focus:bg-yellow-50' %>

    <div class="mb-8 w-3/4 flex justify-start">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'text-gray-500 ml-2'%>
    </div>

    <div class="flex justify-between flex-row w-3/4 items-baseline">
      <%= f.submit "Log in", data: { turbo: false }, class: 'px-2 py-1 border-2 rounded-md bg-yellow-200 hover:bg-yellow-400 focus:bg-yellow-400 active:bg-yellow-100 border-yellow-400 hover:border-yellow-200 focus:border-yellow-200 cursor-pointer w-40' %>
      <%= link_to "Sign up", new_registration_path(resource_name) %>
    </div>
  <% end %>
</div>
