<div id="<%= dom_id challenge %>">
  <p>
    <strong>Start date:</strong>
    <%= challenge.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= challenge.end_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= challenge.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= challenge.description %>
  </p>

</div>
