<p style="color: green"><%= notice %></p>

<h1>Challenges</h1>

<div id="challenges">
  <table class="border-2 m-4">
    <thead>
      <td class="border-2 p-2">id</td>
      <td class="border-2 p-2">name</td>
      <td class="border-2 p-2">from</td>
      <td class="border-2 p-2">to</td>
      <td class="border-2 p-2">description</td>
    </thead>
    <tbody class="border-2">
      <% @challenges.each do |challenge| %>
        <tr>
          <td class="border-2 p-2">
            <%= challenge.id %>
          </td>
          <td class="border-2 p-2">
            <%= link_to challenge.name, challenge %>
          </td>
          <td class="border-2 p-2">
            <%= challenge.start_date %>
          </td>
          <td class="border-2 p-2">
            <%= challenge.end_date %>
          </td>
          <td class="border-2 p-2">
            <%= challenge.description %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New challenge", new_challenge_path %>
