<p style="color: green"><%= notice %></p>
<div class="w-full border-2 border-grey-200 rounded max-w-2xl self-center mt-20 p-8 bg-white flex-col items-center">
  <h2 class="text-center text-bold mb-8 text-xl font-bold"><%= @challenge.name %></h2>
  <% if @challenge.description? %>
    <div class="p-2 mb-4"> <%= @challenge.description %></div>
  <% end %>
  <div class="flex flex-row justify-around items-center p-2 mb-4">
    <% if @challenge.start_date? %>
      <div class="flex flex-col items-center">
        <span>Start Date</span>
        <span class="font-bold"><%= @challenge.start_date %></span>
      </div>
    <% end %>
    <% if @challenge.end_date? %>
      <div class="flex flex-col items-center">
        <span>End Date</span>
        <span class="font-bold"><%= @challenge.end_date %></span>
      </div>
    <% end %>
  </div>
  <div class="border p-2">
    <h2 class="text-bold text-xl font-bold mb-4">Participants:</h2>
    <ul>
      <% @challenge.all_participants.each do |participant| %>
        <li class="mb-2"> <%= participant.email %></li>
      <% end %>
    </ul>
    <span>invite url: <%= @challenge.invite_url %></span>
  </div>
</div>

<div>
  <%= link_to "Edit this challenge", edit_challenge_path(@challenge) %> |
  <%= link_to "Back to challenges", challenges_path %>
  <%= button_to "Destroy this challenge", @challenge, method: :delete %>
</div>
