<p style="color: green"><%= notice %></p>
<div class="w-full border-2 border-grey-200 rounded max-w-2xl self-center mt-20 p-8 bg-white flex-col items-center">
  <h2 class="text-center text-bold mb-8 text-xl font-bold"><%= @challenge.name %></h2>
  <% if @challenge.description? %>
    <div class="p-2 mb-4"> <%= @challenge.description %></div>
  <% end %>
  <div class="flex flex-row justify-around items-center p-2 mb-4">
    <% if @challenge.start_date? %>
      <div class="flex flex-col items-center">
        <span>Start Date</span>
        <span class="font-bold"><%= @challenge.start_date %></span>
      </div>
    <% end %>
    <% if @challenge.end_date? %>
      <div class="flex flex-col items-center">
        <span>End Date</span>
        <span class="font-bold"><%= @challenge.end_date %></span>
      </div>
    <% end %>
  </div>
  <div class="border p-2 mb-2">
    <h2 class="text-bold text-xl font-bold mb-4">Participants:</h2>
    <ul>
      <% @challenge.all_participants.each do |participant| %>
        <li class="mb-2"><%= participant.first_name %> <%= participant.last_name %></li>
      <% end %>
    </ul>
  </div>
  <% if @is_creator %>
    <div class="border p-2">
      <div class="flex justify-between flex-row items-baseline m-4">
        <%= link_to "Edit", edit_challenge_path(@challenge), class: 'px-2 py-1 border-2 rounded-md bg-yellow-200 hover:bg-yellow-400 focus:bg-yellow-400 active:bg-yellow-100 border-yellow-400 hover:border-yellow-200 focus:border-yellow-200 cursor-pointer w-20 text-center' %>
        <%= button_to "Delete", @challenge, method: :delete, class: 'px-2 py-1 border-2 rounded-md bg-red-200 hover:bg-red-400 focus:bg-red-400 active:bg-red-100 border-red-400 hover:border-red-200 focus:border-red-200 cursor-pointer w-20' %>
      </div>
      <p>invite url: <%= @challenge.invite_url %></p>
    </div>
  <% end %>
  <%= link_to "Back", challenges_path, class: 'mt-4 text-center block px-2 py-1 border-2 rounded-md border-yellow-400 hover:border-yellow-200 focus:border-yellow-200 cursor-pointer w-20' %>

</div>
