<nav class="w-full flex flex-row justify-between items-center	border-b bg-yellow-300 px-4 py-2 fixed top-0">
  <div><%= link_to "CZELENDŻU", '/', class: "h-[40px]" %></div>
  <div class="flex flex-row items-center justify-center h-[40px]">
    <% if user_signed_in? %>
      <%= link_to "Challenges", challenges_path, class: "mx-4 #{'font-bold' if current_page?(challenges_path)}" %> |


      <%= link_to edit_user_registration_path do %>
        <div class="flex flex-row justify-center items-center mx-4">
          <% if current_user.profile.present? %>
            <% if current_user.profile.avatar.present? %>
              <%= image_tag current_user.profile.avatar, class: "w-[40px] h-[40px] rounded-[20px] mr-2" %>
            <% else %>
              <%= image_tag '/images/profile_pic_empty.webp', class: "w-[40px] h-[40px] rounded-[20px] mr-2" %>
            <% end %>
            <% if current_user.profile.first_name.present? %>
              <div class="<%= 'font-bold' if current_page?(edit_user_registration_path) %>">
                <%= current_user.profile.first_name %>
              </div>
            <% end %>
          <% else %>
            <div class="font-bold">
              Complete your profile
            </div>
          <% end %>
        </div>
      <% end %>|
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "mx-4"  %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "mx-4"  %>|
      <%= link_to "Sign up", new_user_registration_path, class: "mx-4"  %>
    <% end %>
  </div>
</nav>