<nav class="w-full flex flex-row justify-between	border-b bg-yellow-300 p-4 fixed top-0">
  <div><%= link_to "CZELENDŻU", '/', class: "navbar-link" %></div>
  <div>
    <% if user_signed_in? %>
      <%= link_to "Challenges", challenges_path, class: "navbar-link #{'font-bold' if current_page?(challenges_path)}" %> |
      <%= link_to current_user.email, edit_user_registration_path, class: "navbar-link #{'font-bold' if current_page?(edit_user_registration_path)}" %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-link"  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-link"  %> |
      <%= link_to "Login", new_user_session_path, class: "navbar-link"  %>
    <% end %>
  </div>
</nav>