<!DOCTYPE html>
<html>
  <head>
    <title>TriathlonChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-100">
    <div class="flex flex-col justify-center items-center">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= render "layouts/navbar/navbar" %>
      <main class="flex flex-col max-w-screen-2xl bg-gray-50 w-full h-screen pt-16">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
